<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css" />
    <title>Edit</title>
</head>

<body>
    <div class="form-container">

        <h1>Search for Friends</h1>
        <h5>Note: This feature is under development, a user can search for, but not add friends</h5>
        <form action="/search-friends" method="post">
            <input type="text" name="searchUsername" placeholder="Enter friend's username" required>
            <button type="submit">Search</button>
            <a href="/tasks">Cancel</a>
        </form>
    </div>
    
    <div>
        <h2>Search Results:</h2>
        <ul>
            <% searchResults.forEach(result=> { %>
                <li>
                    <%= result.username %>
                </li>
                <% }); %>
        </ul>
    </div>

</body>
    
</html>