<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css"/>
    <title>Home</title>
</head>

<body>

<main>
    <section>
        <h1>Welcome to Honey-do Hub</h1>
        <p>Upload your Honey-do list here and share with your honey!</p>
    </section>

    <section>
        <h2>Account Options</h2>
        <ul>
            <li><a href="user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
        </ul>
    </section>
</main>

<%- include('./partials/footer.ejs') %>
