body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/3d-illustration-yellow-honeycomb-monochrome-honeycomb-honey_116124-2277.jpg');
}

nav {
    background-color: #2c3e50;
    color: white;
    padding: 15px 0;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 0 15px;
}

nav a {
    text-decoration: none;
    color:#ecf0f1;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

nav a:hover {
    text-decoration: underline;
    background-color: #34495e;
    color: #ecf0f1;
}

.common-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

.common-button:hover {
    background-color: #2980b9;
}

.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

.view-button {
    background-color: green;
}

.view-button:hover {
    background-color: green;
}
.common-button,
.delete-button, 
.view-button {
    box-sizing: border-box;
    width: 90px;
    text-align: center;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group a,
.button-group form {
    margin: 0 5px;
}
.fas {
    font-size: 20px;
    margin-right: 10px;
}

.fa-list {
    color: blue;
}

.fa-hourglass-half {
    color: purple;
}

.fa-check {
    color: green;
}
table {
    background-color:#f4f4f4 ;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}
.text-center {
    text-align: center;
    vertical-align: middle;
}
.log-out {
background-color: #e74c3c;
color: white;
padding: 5px 10px;
margin: 5px;
border: none;
cursor: pointer;
text-decoration: none;
border-radius: 3px;
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #2c3e50;
    color: white;
}