body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/3d-illustration-yellow-honeycomb-monochrome-honeycomb-honey_116124-2277.jpg');
}

nav {
    background-color: #2c3e50;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px 0;
    text-align: left;
}

nav a {
background-color: #2980b9;
    color: white;
    padding: 15px 10px;
    margin: 5px;
    border: none;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

nav a:hover {
    background-color: green;
}

.common-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

.common-button:hover {
    background-color: #2980b9;
}

.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

.view-button {
    background-color: green;
}

.view-button:hover {
    background-color: green;
}
.common-button,
.delete-button, 
.view-button {
    box-sizing: border-box;
    width: 90px;
    text-align: center;
}
.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group a,
.button-group form {
    margin: 0 5px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.fas {
    font-size: 20px;
    margin-right: 10px;
}

.fa-list {
    color: blue;
}

.fa-hourglass-half {
    color: brught orangered;
}

.fa-check {
    color: green;
}
table {
    background-color:rgba(255, 255, 255, 0.9);
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
    font-size: larger;
    height: 50px;
}
.text-center {
    text-align: center;
    vertical-align: middle;
}
.log-out {
background-color: #e74c3c;
color: white;
padding: 10px 10px;
margin: 5px;
border: none;
cursor: pointer;
text-decoration: none;
border-radius: 3px;
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #2c3e50;
    color: white;
    flex-shrink: 0;
}