body {
    color: blue;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
.edit-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

.edit-button:hover {
    background-color: #45a049;
}